/out_URLs.json
/out.json
/fax-regear-c42cdf23fca5.json
/DISCORD TOKEN.txt
/venv/
/old/DISCORD TOKEN_production.txt
/old/DISCORD TOKEN_test.txt
/old/fax-regear-c42cdf23fca5.json
/old/venv/
/old/.idea/
